*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.entrada{
    width: 800px;
    height: 400px;
    background: #232d3a;
    padding: 30px;
    margin:auto;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 1px 38px #000;
    

}
.entrada h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.control{
    width: 30%;
    height: 30px;
    background:white;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: 'calibri';
    



}
.boton{
    width: 10%;
}